
body{
    margin: 0px;
}

h1  
h2
h3
h4
h5
h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: italic;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    
}

h1 strong{
    color: #026fff;

}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    /*background-image: url("../images/hero.jpg");*/
    background-color: #1b2127;
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.Portafolio{
    background: #fafafa;
    padding: 20px;
}

.Proyect{
   border: 5px solid greenyellow;
   border-radius: 10px;
   margin bottom: 15px;
   padding: 20px;
   background: white;  
   display:flex;
   /*align-items:center;*/
   justify-content: space-between;
}

.Proyect-course,
.Proyect-date,
.Proyect-link{
    margin: 10px 0;
}

.proyect details{
    width: 500px;
}
.proyect-imageContainer{
    width: 500px;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header ol{
    display: flex;
    height: inherit;
}

.menu{
    height: inherit;
}

.header ol li{
    height: inherit;
}

.Footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer img{
    vertical-align: middle;
}

.Footer a{
    color: white;
}

.Proyect-tittle{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.event{
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event-list-tittle{
    margin-left: 20px;
}

.event-image{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.social{
   /* border: 1px solid red;*/
}

.social-link{
    display: inline-block;
     width: 50px;
     height: 50px;
     /*border: 1px solid white;*/
     background-size: 50px 50px;
     margin: 0 10px;
}

.social-link.linkedin{
    background-image: url(../images/images.png);
}

.social-link.github{
    background-image: url(../images/github.svg);
}

.social-link.facebook{
    background-image: url(../images/facebook.svg);
}

.form-email input{
    border-color: grey;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
     display: block;
     margin-top: 10px;
     background: transparent;
     color: white;
     padding: 10px 0;
     border-radius: 5px;
     width: 100px;
     margin-top: 10px;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

